.List {

  width: auto;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
  font-size: medium;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.005);
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;

  
}


th {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    color: rgb(7, 7, 7) ;
  }

td {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(13, 11, 11);
}

table {
      margin-left: 2px;
      text-align: center;
      border-spacing: 10px;
}

.image {
 
  align-items: center;
}
  