.List {

  width: auto;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.154);
  font-size: medium;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.351);
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;

  
}

table {
  margin-left: 2px;
  text-align: center;
  border-spacing: 10px;
  border-collapse: collapse;
  
}

th {
    text-align: center;
    font-size: 30px;
    padding: 15px;
    margin-right: 50px;
    margin-left: 50px;
    color: rgb(7, 7, 7) ;
    border: 1px solid #000;
  }

td {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(13, 11, 11);
  border: 1px solid #000;
}



.image {
 
  align-items: center;
}
  
.filters {
  margin-left: 150px;
  padding-bottom: 20px;
  padding-top:10px;
  display: flex;
}

.dateFilter {
  margin-right: 18px;
}

.hpfilter {
  margin-right: 10px;
}

.btn {
  color:white;
  background-color: darkslateblue;
}