.App {
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
}

.dashboard-row {
  display: flex;
  flex-direction: row;
  gap: 10px 20px;
  padding-right:40px;
  align-items: center;
}